:root {
  /* font families */
  --jp-font-heading: Comfortaa, 'Segoe UI', Roboto, 'Helvetica Neue';
  --jp-font-body: Urbanist, 'Segoe UI', Roboto, 'Helvetica Neue';
  --jp-font-mono: 'Fira Mono', "Courier New", Courier;

  /* font sizes */
  --font-size-sm: 0.875rem;
  --font-size-base: 1.125rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.8rem;
  --font-size-display: 4rem;

  /* primitive colors */
  /*--jp-c-white: #FFFFFF;*/
  /*--jp-c-white-soft: #F8F8F8;*/
  /*--jp-c-white-mute: #F2F2F2;*/

  /*--jp-c-black: #181818;*/
  /*--jp-c-black-soft: #222222;*/
  /*--jp-c-black-mute: #282828;*/

  --jp-c-blue-50: #C4C1D5;
  --jp-c-blue-100: #413488;
  --jp-c-blue-300: #201D5A;
  --jp-c-blue-500: #171749;
  --jp-c-blue-700: #0C0C34;
  --jp-c-blue-neon: #009DFF;

  --jp-c-fuschia-50: #FACFFA;
  --jp-c-fuschia-100: #E3ADE3;
  --jp-c-fuschia-300: #F1A7F2;
  --jp-c-fuschia-500: #911791;
  --jp-c-fuschia-700: #59185A;
  --jp-c-fuschia-900: #3A0E53;
  --jp-c-fuschia-neon: #FC00FF;
  --jp-c-fuschia-muted: #C083C0;

  --jp-c-seafoam-500: #95DAC5;
  --jp-c-seafoam-700: #17946E;
  --jp-c-seafoam-neon: #00FFB1;
}

/* semantic color variables */
:root {
  --color-background: var(--jp-c-blue-700);

  --color-surface-light: var(--jp-c-fuschia-100);
  --color-surface-light-muted: var(--jp-c-fuschia-muted);
  --color-surface-dark: var(--jp-c-blue-500);
  --color-surface-dark-muted: var(--jp-c-blue-300);
  --color-surface-dark-alt: var(--jp-c-fuschia-900);

  --color-border: var(--jp-c-blue-100);
  /*--color-border-hover: var(--jp-c-divider-dark-1);*/

  --color-heading-light: var(--jp-c-fuschia-100);
  --color-heading-dark: var(--jp-c-fuschia-500);
  --color-text-light: var(--jp-c-blue-50);
  --color-text-dark: var(--jp-c-blue-700);
  --color-text-accent: var(--jp-c-seafoam-500);
  --color-text-accent-alt: var(--jp-c-fuschia-100);

  --color-link: var(--jp-c-fuschia-50);
  --color-link-alt: var(--jp-c-seafoam-500);

  --color-button: var(--jp-c-fuschia-500);
  --color-button-hover: var(--jp-c-fuschia-900);
  --color-button-border: var(--jp-c-fuschia-neon);
  --color-button-secondary: var(--jp-c-blue-300);
  --color-button-secondary-hover: var(--jp-c-blue-700);
  --color-button-secondary-border: var(--jp-c-seafoam-500);

  --color-selector-bg: color-mix(in srgb, var(--jp-c-blue-700) 40%, transparent);
  --color-selector-bg-active: color-mix(in srgb, var(--jp-c-blue-700) 100%, transparent);
  --color-selector-border-active: var(--jp-c-seafoam-500);

  --color-shadow-inset-light: rgba(227, 173, 227, 0.15);
  --color-shadow-inset: rgba(252, 0, 255, 0.15);
  --color-shadow-inset-dark: rgba(12, 12, 52, 0.5);

  --color-scrollbar-on-dark: var(--jp-c-fuschia-muted);

  --shadow-inset-card: inset 0 1px 2px 0 var(--color-shadow-inset-light), inset 0 2px 4px 0 var(--color-shadow-inset), inset 0 -2px 4px 0 var(--color-shadow-inset-dark);

  --gradient-neon-bg: rgba(149, 218, 197, 0.8), rgba(0, 157, 255, 0.8), rgba(252, 0, 255, 0.8);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background);
  font-family: var(--jp-font-body), sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Comfortaa, sans-serif;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-heading-light);
  text-transform: lowercase;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}
